*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
        /*Tipo de fuentes a usar*/
    @font-face{
        font-family: "titulos";
        src: url(./Fonts/Amaranth-Bold.ttf);
     
      }
      @font-face{
        font-family: "textos";
        src: url(./Fonts/TitilliumWeb-Regular.ttf);
      }
    /*Tipo y color de fuentes en general para las paginas del sitio web */
    h1{
        font-family: titulos;
        font-size: 32px;
        color: rgb(255, 41, 41);
    }
    p{
        font-family: textos;
        font-size: 16px;
        color: black;
    }
    h2{ 
        font-family: titulos;
        font-size: 32px;
        color: rgb(255, 41, 41);
    }
    h3{
        font-family: titulos;
        font-size: 32px;
        color: rgb(255, 41, 41);
    }
    /*-----Header------*/
    header{
        /*position: fixed;
         top: 0;
         left: 0;*/
          width: 100%;
          height: 90px;
          padding: 15px;
          background-color: #073e53;
          display: flex;
          justify-content: space-evenly;
         }
    
    .menu{
        width: 40%;
        height: 60px;
        padding: 0px;
        /* border: 1px solid cornsilk; */
        display: flex;
          justify-content: space-around;
          align-items: center;
        }
        .menu ul a{
            font-family: titulos;
            font-size: 16px;
            text-decoration: none;
            color:#e7e6f6;   
            align-items: center;
        
        }
        .menu li{
            display: inline-flex;  
            padding: 5px; 
            align-items: center;
        }
    .logo{
        width: 20%;
        height: 60px;
        padding: 10px;
        display: flex;
        align-content: center;
        align-items: center;
    }
    /* .logo a {
        border: 2px solid  yellow;
        display: flex;
        align-content: center;
        align-items: center;
    
    } */
    .pedidos{
        height: 60px;
        width: 40%;
        padding: 5px; 
        /* border: 1px solid cornsilk; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .pedidos a{
        text-decoration:none;
            font-family: titulos;
        font-size: 16px;
        color:#e7e6f6;
        text-shadow: 0 0 2px #13131a,0 0 2px #020202;
        /* padding: 8px; */
        display: flex;   
     
        }
    .pedidos ul{
       width: 50%;
        display: inline-flex;
        list-style: none;
        align-items: center;
       justify-content: space-between;
    }
    
    .enlaces a{
        text-decoration:none;
        font-family: titulos;
        font-size: 20px;
        color: aqua;
        
    }
     footer div p{
        font-family: texto;
        font-size: 16px;
        color: aqua;
     }
    span{
        font-family: titulos;
        color: rgb(255, 41, 41);
    }
    footer p{
        font-family: titulo;
        font-size: 16px;
        color: aqua;
    }
    .producto{
        font-family: titulos;
        font-size: 40;
        color: rgb(255, 41, 41);
    }
    .pregunta{
        font-family: titulo;
        font-style: italic;
        font-size:24px;
        color: rgb(1, 1, 1);
    }
    .encuesta{
        font-family: texto;
        font-size: 16px;
        color: rgb(1, 1, 1);
    }
    
    /*Fondos de color*/
    body{
        margin: 0%;
        padding: 0%;
        border: 0;
        background-color: #e7e6f6;
        min-height: 100vh;
    
    }
    section{
        min-height: 100vh;
    }
    
    
    
    
    footer{
        background-color: #073e53;
        background-position: center;
        display: grid;
        
        
        
    }
    /*Home*/
    
    /*encuesta*/
    .enviar{
        background-color: rgb(68, 68, 114);
        width: 200px;
        border: 0;
        padding: 10px;
        margin: 20px;
     justify-content: center;
    }
    
    /* Formulario*/
    .contacto{
          background-color: rgb(176, 205, 230);
        width: 300px;
        border: 5px solid  rgb(68, 68, 114);
        padding: 10px;
        margin: 20px;
    }

