@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Tipo de fuentes a usar*/
@font-face {
  font-family: "titulos";
  src: url(./Fonts/Amaranth-Bold.ttf);
}
@font-face {
  font-family: "textos";
  src: url(./Fonts/TitilliumWeb-Regular.ttf);
}
/*Tipo y color de fuentes en general para las paginas del sitio web */
h1 {
  font-family: titulos;
  font-size: 32px;
  color: #3f0d12;
}

p {
  font-family: textos;
  font-size: 16px;
  color: black;
}

h2 {
  font-family: titulos;
  font-size: 32px;
  color: #220c10;
}

h3 {
  font-family: titulos;
  font-size: 32px;
  color: #220c10;
}

body {
  margin: 0%;
  padding: 0%;
  border: 0;
  background-color: #e7e6f6;
  background-image: url(./Img/Back_Mesa\ de\ trabajo\ 1.png);
  background-size: contain;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  body {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*-----Header------*/
.home {
  max-width: 1024px;
  margin-inline: auto;
}

header {
  max-width: 1024px;
  margin-inline: auto;
  background-color: #073e53;
  display: grid;
  grid-template-columns: 42.5% 15% 42.5%;
  align-items: center;
  min-height: 110px;
}

.back {
  width: 100%;
  background-color: #073e53;
}
.back header {
  max-width: 1024px;
  margin-inline: auto;
  background-color: #073e53;
  display: grid;
  grid-template-columns: 42.5% 15% 42.5%;
  align-items: center;
  min-height: 110px;
}
.back header .menu {
  display: grid;
  justify-content: space-around;
}
.back header .menu .nav-link {
  font-family: titulos;
  color: #e7e6f6 !important;
}
.back header .menu .aqui {
  color: #fbbe63;
}
.back header .menu .nav-link:hover {
  color: #fbbe63 !important;
  text-decoration: none;
}
.back header .logo {
  margin: 10px;
  display: grid;
  justify-content: center;
  position: relative;
}
.back header .pedidos {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: titulos;
  font-size: 16px;
  color: #e7e6f6;
  list-style: none;
  margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .back header .pedidos b-rapp {
    background-image: url(./Img/rappiColor1.png);
  }
}
.back header .pedidos .pedidos-link {
  padding: 8px;
  font-family: titulos;
  color: #e7e6f6;
}
.back header .pedidos .pedidos-link:hover {
  color: #fbbe63;
  text-decoration: none;
}
.back header .pedidos #pedidos-btn {
  display: none;
}

/* Footer */
.back footer {
  max-width: 960px;
  margin-inline: auto;
  background-color: #073e53;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
.back footer .derechos {
  font-family: texto;
  font-size: 16px;
  color: aqua;
  grid-column: 2/7;
}
.back footer .derechos span {
  font-family: titulos;
  color: #fbbe63;
}
.back footer .derechos .dona {
  font-size: 16px;
  color: #e7e6f6;
}
.back footer .logoFooter {
  grid-column: 1/2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.back footer .redes {
  grid-column: 7/13;
  display: flex;
  justify-content: space-around;
}
.back footer .redes a {
  text-decoration: none;
  font-family: titulos;
  font-size: 20px;
  color: aqua;
}
.back footer p {
  font-family: titulo;
  font-size: 16px;
  color: aqua;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .back footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat 3, auto;
    justify-content: center;
  }
  .back footer .derechos {
    grid-column: 1/4;
    grid-row: 3/4;
    justify-self: center;
  }
  .back footer .logoFooter {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .back footer .redes {
    grid-column: 2/4;
    grid-row: 1/3;
    justify-content: center;
  }
  .back footer .redes a {
    padding: 10px;
  }
  .back footer .redes p {
    display: none;
  }
}

/* Home */
.promo {
  padding-block: 15px;
  text-align: center;
  margin-inline: auto;
  background-color: #e7e6f6;
}

.galeria {
  height: 40%;
  width: 95%;
  margin: auto;
}
.galeria ol li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.galeria .carousel-item {
  height: 20%;
}
.galeria .carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.encabezado {
  padding-block: 15px;
  text-align: center;
  margin-inline: center;
}

.reseñas {
  margin-inline: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  padding-block: 20px;
}

.resenias-item {
  flex: 1 0 auto;
  margin-inline: 20px;
  background-color: #073e53;
  width: 250px;
  height: 250px;
}

.texto-resenia {
  max-width: 80%;
  margin-inline: auto;
  padding: 10px;
  background-color: #e7e6f6;
}
.texto-resenia p {
  font-family: textos;
  font-size: 20px;
  text-shadow: rgba(0, 0, 0, 0.3);
}

/* Fin home */
/* Nosotros */
.nosotros {
  max-width: 1024px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(7, auto);
  padding: 20px;
}
.nosotros .front-nosotros {
  font-size: 40px;
  text-align: center;
  grid-column: 1/3;
  grid-row: 1/2;
}
.nosotros .cabecera {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
}
.nosotros .cabecera h1 {
  font-size: 36px;
  text-align: center;
  padding-block: 10px;
}
.nosotros .texto-nosotros {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/5;
  text-align: start;
  padding-block: 10px;
}
.nosotros .imagen-nosotros {
  width: 100%;
  height: 500px;
  margin-inline: auto;
  display: grid;
  grid-column: 2/3;
  grid-row: 2/5;
  background-image: url(./Img/Nosotros/IMG_3606-01.jpg);
  background-size: cover;
  background-position: end;
}
.nosotros .cabecera-2 {
  padding-block: 10px;
  text-align: center;
  grid-column: 2/3;
  grid-row: 5/6;
}
.nosotros .texto-ubicacion {
  grid-column: 2/3;
  grid-row: 6/8;
  padding: 20px;
  text-align: start;
}
.nosotros .maps {
  grid-column: 1/2;
  grid-row: 5/8;
}
.nosotros .maps iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, auto);
  }
  .nosotros .front-nosotros {
    grid-column: 1;
    grid-row: 1/2;
  }
  .nosotros .cabecera {
    grid-column: 1;
    grid-row: 2/3;
    text-align: center;
  }
  .nosotros .texto-nosotros {
    text-align: center;
    grid-column: 1;
    grid-row: 3/4;
    padding: 10px;
    margin: 0;
  }
  .nosotros .imagen-nosotros {
    grid-column: 1;
    grid-row: 4/5;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
  }
  .nosotros .cabecera-2 {
    grid-column: 1;
    grid-row: 5/6;
    margin-inline: auto;
  }
  .nosotros .texto-ubicacion {
    grid-column: 1;
    grid-row: 6/7;
    padding: 0;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .nosotros .maps {
    grid-column: 1;
    grid-row: 7/8;
  }
  .nosotros .maps iframe {
    height: 100%;
    width: 100%;
  }
}
/* Productos */
.productos {
  max-width: 1024px;
  margin-inline: auto;
}
.productos .producto-encabezado {
  padding-block: 20px;
  text-align: center;
}
.productos .producto-menu {
  max-width: 768px;
  margin-inline: auto;
  padding-inline: 10px;
  background-color: rgba(7, 61, 83, 0.8274509804);
  border-radius: 8px;
  height: 50px;
}
.productos .producto-menu ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-block: 7px;
}
.productos .producto-menu ul li {
  padding: 4px;
  font-family: titulos;
  color: #e7e6f6;
}
.productos .producto-menu ul li:hover {
  background-color: #073e53;
  border-radius: 50%;
}
.productos .producto {
  padding-block: 20px;
  max-width: 760px;
  margin-inline: auto;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-template-rows: auto;
  justify-content: center;
  gap: 20px 10px;
}
.productos .producto .item-producto {
  width: 238px;
  height: 238px;
  box-shadow: 5px 5px 8px #073e53;
}
.productos .producto .item-producto p {
  color: #e7e6f6;
  font-size: 24px;
  padding-block: 10px;
  text-align: center;
  align-self: center;
}
.productos .producto .item-producto .descripcion {
  opacity: 0;
}
.productos .producto .item-producto:hover {
  scale: 1.05;
}
.productos .producto .item-producto:hover .descripcion {
  text-align: center;
  font-size: 18px;
  color: #e7e6f6;
  opacity: 1;
  transition-delay: 200ms;
}
.productos .producto :nth-child(1) {
  background-image: url(./Img/Productos/IMG_3696\ \(2\).JPG);
}

.encuestas {
  max-width: 1024px;
  margin-inline: auto;
  padding: 20px;
}
.encuestas .encabezado-encuesta {
  text-align: center;
  padding-block: 20px;
}
.encuestas .text-encuesta {
  grid-column: 1/5;
  grid-row: 1;
  text-align: center;
}
.encuestas .encuesta {
  font-family: texto;
  font-size: 16px;
  color: rgb(1, 1, 1);
  max-width: 960px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
}
.encuestas .encuesta .pregunta {
  font-family: titulo;
  font-style: italic;
  font-size: 24px;
  color: rgb(1, 1, 1);
}
.encuestas .encuesta .respuesta {
  grid-column: 1;
  padding-block: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.encuestas .encuesta .caja-pregunta {
  grid-row: 1/2;
}
.encuestas .encuesta .opciones-pregunta {
  grid-row: 2/4;
}
.encuestas .encuesta .caja-pregunta2 {
  grid-row: 4/5;
}
.encuestas .encuesta .opciones-pregunta2 {
  grid-row: 5/7;
}
.encuestas .encuesta .caja-pregunta3 {
  grid-row: 7/8;
}
.encuestas .encuesta .opciones-pregunta3 {
  grid-row: 8/10;
}
.encuestas .encuesta .caja-pregunta4 {
  grid-row: 10/11;
}
.encuestas .encuesta .opciones-pregunta4 {
  grid-row: 11/13;
}
.encuestas .enviar {
  background-color: rgb(68, 68, 114);
  width: 200px;
  border: 2px;
  padding: 10px;
  margin-inline: auto;
}

/* Formulario*/
.informacion {
  max-width: 1024px;
  margin-inline: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1 fr;
  grid-template-rows: auto;
  grid-template-areas: "equipo imagen-equipo" "texto-equipo imagen-equipo" "contacto encabezado-contacto " "contacto texto-contacto";
}
.informacion .contacto {
  background-color: rgb(176, 205, 230);
  width: 300px;
  border: 5px solid rgb(68, 68, 114);
  padding: 10px;
  margin: 20px;
}
.informacion .encabezado-equipo {
  grid-area: equipo;
}
.informacion .texto-equipo {
  grid-area: texto-equipo;
}
.informacion .imagen-equipo {
  grid-area: imagen-equipo;
}
.informacion .encabezado-contacto {
  grid-area: encabezado-contacto;
}
.informacion .texto-contacto {
  grid-area: texto-contacto;
}
.informacion .contacto {
  grid-area: contacto;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .b-take {
    position: fixed;
    width: 60px;
    height: 45px;
    line-height: 15px;
    bottom: 220px;
    right: 15px;
    background: #073e53;
    color: #e7e6f6;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3), 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 200;
    transition: all 300ms ease;
  }
  .b-pedido {
    position: fixed;
    width: 60px;
    height: 45px;
    line-height: 15px;
    bottom: 170px;
    right: 15px;
    background: #073e53;
    color: #e7e6f6;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 200;
    transition: all 300ms ease;
  }
  .b-rapp {
    position: fixed;
    width: 60px;
    height: 45px;
    line-height: 15px;
    bottom: 120px;
    right: 15px;
    background: #073e53;
    color: #e7e6f6;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 200;
    transition: all 300ms ease;
  }
  /*encuesta*/
  .encabezado-encuesta {
    text-align: center;
    padding-block: 5px;
  }
  .encuesta {
    max-width: 280px;
    font-size: 12px;
  }
  .text-encuesta {
    grid-column: 1/5;
    grid-row: 1;
    text-align: center;
  }
  .respuesta {
    grid-column: 1;
    padding-block: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .caja-pregunta {
    grid-row: 1/2;
  }
  .opciones-pregunta {
    grid-row: 2/4;
  }
  .caja-pregunta2 {
    grid-row: 4/5;
  }
  .opciones-pregunta2 {
    grid-row: 5/7;
  }
  .caja-pregunta3 {
    grid-row: 7/8;
  }
  .opciones-pregunta3 {
    grid-row: 8/10;
  }
  .caja-pregunta4 {
    grid-row: 10/11;
  }
  .opciones-pregunta4 {
    grid-row: 11/13;
  }
}/*# sourceMappingURL=estilo.css.map */